.linkbutton {
  overflow: auto;
  float: left;
  border: 1px solid #333;
  margin: 0 5px;
  display: block;
  text-decoration: none;
  padding: 10px 20px;
}
.linkbutton:hover {
  background-color: black;
  color: white
}
